@font-face {
    font-family: Barlow, 'sans-serif';
    src: url('../fonts/Barlow-Black.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Fraunces, 'sans-serif';;
    src: url("../fonts/Fraunces_9pt-Black.ttf");
    font-weight: 700;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/desktop/image-header.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
}

.creatives-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1600px;
}

.main-heading {
    text-align: center;
    font-size: 64px;
    font-family: Barlow, 'sans-serif';
    color: #ffffff;
    text-transform: uppercase;
}

.social-icons {
    list-style: none;
}

.creatives-container {
    text-align: center;
}

.middle-arrow {
    margin: 0 auto;
    display: block;
}

.middle-arrow:hover {
    cursor: pointer;
}


.nav-links {
    list-style: none;
    display: flex;
    font-size: 22px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.nav-link {
    padding: 16px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #000000;
    cursor: pointer;
}

.contact {
    color: #000000;
    border-radius: 32px;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    border: solid 2px transparent;
}

.contact:hover {
    border: solid 2px #000000;
    color: #ffffff;
    background-color: #000000;
}

.left-menu {
    width: 20%;
    padding: 40px;
}

.left-menu img {
    height: 42px;
    max-width: 100%;
}

.left-menu img {
    transition: linear;
}

.right-menu {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-right: 40px;
}

.band-left {
    width: 50%;
    text-align: left;
    padding: 100px;
    flex: 1;
    box-sizing: border-box;
}

.egg-right {
    width: 50%;
}

.egg-right img {
    width: 100%;
    height: auto;
}

.band-container {
    width: 100%;
    display: flex;
}

.second-heading {
    font-size: 48px;
    font-weight: bold;
}

.desc {
    font-size: 24px;
    color: hsl(213, 9%, 39%);
    font-family: Barlow, 'sans-serif';
}

.learn-more {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.learn-more::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -5%;
    width: 180px;
    height: 8px;
    background: hsl(51, 100%, 49%);
    z-index: -1;
    border-radius: 6px;
    opacity: 0.5;
}

.stand-container {
    width: 100%;
    display: flex;
}

.goblet-left {
    width: 50%;
}

.goblet-left img {
    width: 100%;
    height: auto;
}

.audience-right {
    padding: 100px;
    width: 50%;
    box-sizing: border-box;
}

.graphic-design {
    width: 30%;
    padding: 40px;
}

.photography {
    width: 30%;
    padding: 40px;
}

.design-photo-container {
    display: flex;
    width: 100%;
    height: 600px;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.graphic-heading {
    font-weight: bold;
    color: hsl(167, 40%, 24%);
}

.photography-heading {
    font-weight: bold;
    color: hsl(198, 62%, 26%);
}