@font-face {
    font-family: Barlow, 'sans-serif';
    src: url('../fonts/Barlow-Black.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Fraunces, 'sans-serif';;
    src: url("../fonts/Fraunces_9pt-Black.ttf");
    font-weight: 700;
}



:root{
    --white: #ffffff;
    --black: #000000;
    --grey: hsl(213, 9%, 39%);
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/desktop/image-header.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.creatives-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1430px;
}

.main-heading {
    text-align: center;
    font-size: 64px;
    font-family: Barlow, 'sans-serif';
    color: var(--white);
    text-transform: uppercase;
}

.creatives-container {
    text-align: center;
}

.middle-arrow {
    margin: 0 auto;
    display: block;
}

.middle-arrow:hover {
    cursor: pointer;
}


.nav-links {
    list-style: none;
    display: flex;
    font-size: 22px;
    color: var(--white);
    padding: 0;
    margin: 0;
}

.nav-link {
    padding: 16px;
    margin-right: 20px;
}

.nav-link:hover {
    color: var(--black);
    cursor: pointer;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    display: none;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 4px;
    position: relative;
    width: 40px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 12px;
}
.hamb-line::after{
    top: -12px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

.contact {
    color: var(--black);
    border-radius: 32px;
    background-color: var(--white);
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    border: solid 2px transparent;
}

.contact:hover {
    border: solid 2px var(--black);
    color: var(--white);
    background-color: var(--black);
}

.left-menu {
    width: 20%;
    padding: 40px;
}

.left-menu img {
    height: auto;
    max-width: 100%;
}

.left-menu img {
    transition: linear;
}

.right-menu {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-right: 40px;
}

.band-left {
    width: 50%;
    text-align: left;
    padding: 100px;
    flex: 1;
    box-sizing: border-box;
}

.egg-right {
    width: 50%;
}

.egg-right img {
    width: 100%;
    height: auto;
}

.band-container {
    width: 100%;
    display: flex;
}

.second-heading {
    font-size: 48px;
    font-weight: bold;
}

.desc {
    font-size: 24px;
    color: var(--grey);
    font-family: Barlow, 'sans-serif';
}

.learn-more {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.band-left .learn-more::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -5%;
    width: 180px;
    height: 8px;
    background: hsl(51, 100%, 49%);
    z-index: -1;
    border-radius: 6px;
    opacity: 0.5;
}

.stand-container .learn-more::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -5%;
    width: 180px;
    height: 8px;
    background: #f4d9d4;
    z-index: -1;
    border-radius: 6px;
    opacity: 0.5;
}

.stand-container {
    width: 100%;
    display: flex;
}

.goblet-left {
    width: 50%;
}

.goblet-left img {
    width: 100%;
    height: auto;
}

.audience-right {
    padding: 100px;
    width: 50%;
    box-sizing: border-box;
}

.graphic-design {
    width: 50%;
    background-image: url("../images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.photography {
    width: 50%;
    background-image: url("../images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.design-photo-container {
    display: flex;
    width: 100%;
    height: 600px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.graphic-heading {
    font-weight: bold;
    color: hsl(167, 40%, 24%);
}

.photography-heading {
    font-weight: bold;
    color: hsl(198, 62%, 26%);
}

.client-container {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.client-testamonial-heading {
    text-align: center;
    font-size: 42px;
    color: #7e7f82;
    margin-top: 200px;
}

.client-card {
    text-align: center;
    width: 30%;
    margin: 50px;
}

.client-card img {
    border-radius: 50%;
}

.client-desc {
    margin-top: 70px;
    margin-bottom: 70px;
    color: #7e7f82;
    line-height: 2;
}

.client-name {
    font-weight: bold;
}

.client-occupation {
    color: hsl(213, 9%, 39%);
}

.gallery {
    display: flex;
    width: 100%;
}

.gallery-item {
    width: 25%;
    height: 100%;
}

.gallery-item img {
    width: 100%;
    max-width: 100%;
}

.sunny-side-logo-heading {
    background-color: var(--black);
}

.main-footer {
    margin-top: -5px;
    padding-top: 50px;
    background: #90d4c5;
    padding-bottom: 50px;
}

.main-footer-logo {
    text-align: center;
}

.main-footer-logo img {
    max-width: 100%;
    height: 100%;
    padding: 30px;
}

.footer-links {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center
}

.footer-link {
    padding: 20px;
    color: #2d7464;
    font-size: 18px;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icons .fa {
    padding: 10px;
    font-size: 24px;
    color: #2d7464;
}

@media screen and (max-width: 800px) {
    .right-menu {
        display: none;
    }
    .hamb {
        display: block;
    }

}